/* CSS Document */

* {
    padding: 0 0;
    margin: 0 0
}
body {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

ul,
li {
    list-style: none;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: block;
}
.w1200 {
    width: 1200px;
    display: block;
    margin: 0 auto;
}
.clothes-warp {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: auto;
    position: relative;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.clothes-warp .content {
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding: 25px 35px 35px;
    top: 155px;
    left: 86px;
    width: 40%;
    background-color: #e8f0f6;
}

.clothes-warp .content .info {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px;
    color: #333 !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.clothes-warp .button.more {
    font-size: 18px;
    background-image: none;
    background: #1979c3;
    padding: 7px 15px;
    color: #fff;
    border: 1px solid #1979c3;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s linear;
}

.clothes-warp .title {
    display: block;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-style: normal;
}

.clothes-warp .button.more:hover {
    background: #006bb4;
    border: 1px solid #006bb4;
    color: #fff;
}

.clothes-3columns ul li {
    float: left;
    width: 33.3333%;
    border-right: 16px solid #fff;
    background: #f4f4f4;
    min-height: 170px;
}
.clothes-3columns ul li:last-child{
	border-right:none;
}
.clothes-3columns ul li a {
    display: block;
}

.block-promo {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    color: #333 !important;
}
.clothes-3columns {
    height: 210px;
}
.clothes-3columns .content {
    padding: 20px 0 50px 20px !important;
    position: static;
    width: 60%;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding: 25px 35px 35px;
    color: #333;
}
.clothes-3columns .content .title {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 18px;
    display: block;
    color: #333;
}
.clothes-3columns .content .info{
	font-size: 18px;
	    display: block;
    font-weight: 300;
    margin-bottom: 20px;
}
.clothes-3columns .image {
    display: block;
}
// .clothes-3columns img {
//     max-width: 100% !important;
//     position: absolute;
//     z-index: 0;
//     top: 0;
//     right: 0;
//     left: 60%;
// }

.clothes-3columns .icon.more {
    display: inline-block;
    text-decoration: none;
        position: absolute;
    z-index: 1;
    bottom: 20px;
    font-size: 16px;
}

.clothes-doc-img{

}
.clothes-doc-img .left{
	float:left;
	width:726px;
}
.clothes-doc-img .left .top-doc{
	    padding: 20px 35px;
	        display: block;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    min-height: 220px;
        background: #f4f4f4;
}
.clothes-doc-img .left .top-doc .content{

}
.clothes-doc-img .left .top-doc .content .title{
	display: block;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 15px;
}
.clothes-doc-img .left .bot-img{
	margin-top: 45px;
}
.clothes-doc-img .left .bot-img img{
	width:300px;
	height:300px
}
.clothes-doc-img .left .bot-img img:first-child{
	margin-right:94px;
}
.clothes-doc-img .right{
	float:right;
	width: 472px;
}
.block-promo .title {
    display: block;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 15px;
}
.block-promo .info {
    display: block;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px;
    height:64px;
    overflow:hidden;
}
.block-promo .icon.more {
    display: inline-block;
    text-decoration: none;
}
.block-promo .more {
    font-size: 16px;
}
 .block-promo:hover .more img{
 	left:5px;
 }
 .block-promo .more img{
 	width:7px;
 	margin-left:3px;
 	position: relative;
 	left:0;
 	transition:all 0.2s linear;
 }